<br>
<div class="text-center">
  <%= link_to(t('all_transport'), transports_path, class: "hvr-grow btn btn-medium") %>
  <br>
  <br>
</div>
<div class="wrapper-beige">
  <h1 class="text-center" ><%= t('new_transport') %></h1>
</div>
<br>
<div class="container" style="width: 70%; font-family: Quicksand; font-weight: lighter;">
  <div class="row">

    <%= simple_form_for(@transport) do |f| %>
      <%= f.input :depart, label:  t('depart')%>
      <%= f.input :return, label: t('return') %>
      <%= f.input :kind , label: t('type_transport')%>
      <%= f.input :place_number, label: t('place')%>
      <%= f.input :t_message, label: t('transport_message')  %>
      <br>
      <br class="text-center">
      <%= f.submit t('validate'),class: "btn btn-medium" %>
    <% end %>
    <br>
  </div>
</div>

