
<p>Bonjour <%= @user.first_name %>,</p>

<p><%= t('welcome_message1') %></p>

<p><%= t('welcome_message2') %></p>

<p><%= t('welcome_message3') %> <%= link_to "ici." users_url %></p>

<p><%= t('welcome_message4') %> </p>



<p><%= t('signature_email') %></p>
<p><%= t('signature_email2') %></p>
<p><%= t('signature_email3') %></p>








