<p><%= t('hello') %> <%= @information.user.first_name %>,</p>

<p><%= t('confimation_message1') %></p>

<p><%= t('signature_email') %></p>
<p><%= t('signature_email2') %></p>
<p><%= t('signature_email3') %></p>
