
<h1 class="text-center" ><%= t('modify_profil') %></h1>
<br>
<br>
<div class="container music">
  <div class="row">
    <%= simple_form_for [@user] do |f| %>
    <%= f.input :first_name, label:  t('sf_first_name') %>
    <%= f.input :last_name, label: t('sf_last_name') %>
    <%= f.input :email, label: t('sf_email')%>
    <%= f.input :phone_number, label: t('sf_phone_number') %>
    <%= f.input :description, label: t('sf_description') %>
    <br>
    <%= f.select :nationality, User::NATIONALITY , label: t('nationality')%>
    <%= f.select :famille, User::FAMILLE %>
    <br>
    <br>
    <%= f.input :photo_avatar, as: :attachinary , label: t('sf_photo_avatar')%>
    <br>
    <br>
    <br class="text-center">
    <%= f.submit t('validate'), class: "hvr-grow btn btn-medium" %>
    <% end %>
    <br>
    <br>
    <br>
    <br>
  </div>
</div>
