<br>
<br>
<% @users.each do  |user| %>
<div class="col-xs-12 col-sm-3 col-md-3 text-center">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom: 2vh;">
      <% if user.photo_avatar? %>
        <%= cl_image_tag user.photo_avatar.path,:style =>"border-radius: 50%; width: 150px; height: 150px; " %>
      <% else %>
      <%= image_tag "photo_avatar.jpg", :style =>"border-radius: 50%; width: 150px; height: 150px; " %>
      <% end %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12" style="font-family: Quicksand;font-size: 25px;">
      <%=  user.first_name %>
      <%=  user.last_name %>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12" style="margin-bottom: 3vh;">
      <%= link_to t(" more details"), user_path(user.id), class: "hvr-grow ", :style =>"background: none; border: none; outline: none;text-decoration:none; color: #990000; font-size: 20px;font-family: 'Work Sans'; font-weight: regular;" %>
    </div>
  </div>
</div>
<% end %>
