<div class="wrapper-beige text-center">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <h2><%= t('contact_title') %></h2>
      <h3><%= t('contact_name_blanca') %></h3>
      <p><%= t('address_spain') %></p>

      </div>
    </div>
  </div>
</div>

<h1 class="text-center" ><%= t('new_music_title') %></h1>
<br>
<br>
<div class="container" style="width: 70%; font-family: Quicksand; font-weight: lighter;">
  <div class="row">
    <%= simple_form_for [@information] do |f| %>
    <%= f.input :type_message %>
    <%= f.input :subject %>
    <%= f.input :message %>
    <br>
    <br class="text-center">
    <%= f.submit "Valider" %>
    <% end %>
    <br>

  </div>
</div>
