<div class="wrapper-beige">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        <h2><%= t('church_name') %></h2>
        <p><%= t('church_address') %></p>
        <br>
        <p><%= t('church_time') %></p>
      </div>
      <div class="col-xs-12 col-md-6">
      <iframe src="https://www.google.com/maps/d/embed?mid=11-WTmQrvLQFsmfxDuJCZO9DPKJw" width="540" height="380"></iframe>
      </div>
    </div>
     <div class="row">
      <div class="col-xs-12 col-md-6">
        <h2><%= t('hotel_name') %></h2>
        <p><%= t('hotel_address') %></p>
        <br>
        <p><%= t('hotel_time') %></p>
      </div>
      <div class="col-xs-12 col-md-6">
        <iframe src="https://www.google.com/maps/d/embed?mid=1aVWcYueSos-KzmqZuEmqpZEWQNw" width="540" height="380"></iframe>
      </div>
    </div>
  </div>
</div>
