<br>
<div class="text-center">
  <%= link_to(t("all_picture"), pictures_path, class: "hvr-grow btn btn-medium" )%>
  <br>
  <br>
</div>
<h1 class="text-center" ><%= t('new_picture') %></h1>
<br>
<br>
<div class="container" style="width: 70%; font-family: Quicksand; font-weight: lighter;">
  <div class="row">
    <%= simple_form_for [@picture] do |f| %>
    <%= f.input :picture_name %>
    <%= f.input :photos, as: :attachinary %>
    <br>
    <br>
    <br class="text-center">
    <%= f.submit t('validate'), class: "btn btn-medium" %>
    <% end %>
    <br>
    <br>
  </div>
</div>
