
<h1 class="text-center" ><%= t('new_picture') %></h1>
<br>
<br>
<div class="container" style="width: 70%; font-family: Quicksand; font-weight: lighter;">
  <div class="row">
    <%= simple_form_for [@picture] do |f| %>
    <%= f.input :picture_name %>
    <%= f.input :photos, as: :attachinary %>
    <br>
    <br>
    <br class="text-center">
    <%= f.submit "Valider", class: "btn btn-medium" %>
    <% end %>
    <br>
    <br>
  </div>
</div>
