<br>
<div class="text-center">
  <%= link_to(t("add_music"), new_music_path, class: "hvr-grow btn btn-medium") %>
  <br>
  <br>
</div>
<div class="wrapper-beige">
  <div class="container" >
    <div class="row ">
      <div class="col-xs-12 col-sm-12 col-md-12 " style="padding-top: 2vh;">
        <div class="row">
          <div class="col-xs-12 col-sm-12col-md-12" style="position: relative; top: 3vh;">
            <div class="row">
              <div class="col-xs-12 col-sm-12 col-md-12" style="margin-top: 3vh;">
                <div class="row">
                  <% @musics.each do |music| %>
                  <div class="hvr-float">
                    <div class="col-xs-12 col-sm-6 col-md-4 " style="margin-bottom: 30px;">
                      <div class="card " style="width: 350px; height: 350px;">
                        <div class="crop cropim" >
                          <iframe width="350" height="350" src="<%=music.link.gsub("watch?v=", "embed/")%>"  frameborder="0" allowfullscreen></iframe>
                        </div>
                      </a>
                      <div class="bottom-card">
                        <div class="name_user-white">
                          <%= link_to "D", music_path(music.id), class: "hvr-grow btn ", method: :delete, data: { confirm: "Are you sure?" } %>
                          <%= music.user.first_name %> <%= music.user.last_name %>
                        </div>
                        <div class="card-avatar">
                          <%= image_tag "table.jpg", width: "100%" %>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
