<br>
<div class="text-center">
  <%= link_to(t("all_music"), musics_path, class: "hvr-grow btn btn-medium" )%>
  <br>
  <br>
</div>
<div class="wrapper-beige">
  <h2 class="text-center" ><%= t('new_music_title') %></h2>
</div>
<br>
<br>
<div class="container music">
  <div class="row">
    <%= simple_form_for [@music] do |f| %>
    <%= f.input :name ,label: t('sf_name_music') %>
    <%= f.input :link, label: t('sf_youtube_link') %>
    <% f.input :comment %>
    <br>
    <br class="text-center">
    <%= f.submit t('validate'), class: "hvr-grow btn btn-medium" %>
    <% end %>
    <br>
  </div>
</div>
